################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FamilyChore.Server/.vs/FamilyChore.Server/FileContentIndex
